.furiganaizer_formatting{
    margin: 2rem;
}

.furiganaizer_title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.furiganaizer_input{
    width: 100%;
}

.furiganaizer_output{
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}