.general-formatting{
    min-height: 20rem;

    @media (min-width: $xs){
        padding: 5rem 1.5rem;
        min-height: 50rem;
    }
    @media (min-width: $sm){
        padding: 4rem 2.5rem;
        min-height: 50rem;
    }
    @media (min-width: $md){
        padding: 5rem 8rem;
        min-height: 50rem;
    }
    @media (min-width: $lg){
        padding: 5rem 9rem;
        min-height: 50rem;
    }
    @media (min-width: $xl){
        padding: 5rem 15rem;
        min-height: 50rem;
    }
    @media (min-width: $xxl){
        padding: 5rem 20rem;
        min-height: 50rem;
    }
    @media (min-width: $xxxl){
        padding: 5rem 35rem;
        min-height: 50rem;
    }

    transition: all 0.5s ease-in-out;
}